.content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-1{
    font-size: 20px;
    padding: 10px 100px 0px 100px;

}

.image{
    padding: 10px 40px 5px 40px;
}

.image img{
    border-radius: 20px;
}