.header {
  background-color: #000000; 
  padding: 10px 0;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 24px;
  margin: 0;
  flex: 1;
  text-align: center;
}

.hamburger-icon {
  cursor: pointer;
  display: none;
}

.header-nav {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  transition: max-height 0.3s ease;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  padding-bottom: 5px;
}

.nav-link:hover {
  text-decoration: underline;
}

.active-link {
  border-bottom: 2px solid white;
}
.logo{
  width: 100px;
}

@media (max-width: 768px) {
  .hamburger-icon {
    display: block;
    margin-right: 5px;
  }
  .header-title{
    font-size: 17px;
  }

  .header{
    padding: 5px;
  }
  .header-nav {
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    gap: 20px;
  }
  .header-flex{
    align-items: center;
    align-content: center;
  }

  .header-nav.open {
    max-height: 500px;
  }
}
